/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
label{
  font-weight: bold;
}

/*Aplicar Css somente quando a largura do navegador tiver no mínimo 1200px*/
@media (min-width: 1200px) {
/*width: Delimita o tamanho máximo para telas com maiores resolução
margin: o 0 delimita margem de 0 em cima e embaixo, "auto" o navegador cálculo o espaçamento entre esquerda e direita centralizando */
  .container{
    width: 1170px;
    margin: 0 auto
  }
}
/*formatação da coluna valor do datatable*/
.col-valor {
  width: 120px;
  text-align: right;
}
/*formatação da coluna data do datatable*/
.col-data {
  width: 120px;
  text-align: center;
}

/*formatação da coluna de ações do datatable*/
.col-acoes {
  width: 90px;
  text-align: center;
}
